.col{
    color: red;
    background-color: thistle;
}
.ram{
    color: blue;
    background-color: bisque;
}
.jeevan{
    color: darkslategray;
    background-color: burlywood;
}
.con{
        position: relative;
        left: 35%;
        top: 20%;
    }
#box1{
    
    height: 100px;
    width: 200px;
    background-color: skyblue;
    padding: 10px;
    border: 4px solid black;
    margin: 10px;
    transition: transform 0.3s, b;
}
#box1:hower{
    background-color: brown;
    box-shadow: 0px 0px 20px red;
}
#box2{
    height: 100px;
    width: 200px;
    background-color: rgb(47, 255, 0);
    padding: 10px;
    border: 4px solid black;
    margin: 10px;
    border-radius: 50%;
}
#box3{
    height: 100px;
    width: 125px;
    background-color: rgb(255, 0, 217);
    padding: 10px;
    border: 4px solid black;
    margin: 10px;
}
#circle{
    height: 200px;
    width: 200px;
    background-color: rgb(84, 101, 229);
    padding: 10px;
    border: 4px solid black;
    margin: 10px;
    border-radius: 50%;
}