#bg{
    height: 800px;
    width: 600px;
    border: 2px solid black;
    padding: 5px;
    background-color: orange;
    margin: 5px;
    border-radius: 5%;
    box-shadow: 1px 1px 45px rgb(249, 204, 68);
}
.img{
    width: 150px;          
    height: 150px;          
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid;
    box-shadow: 1px 1px 20px black;
}  
.container{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    align-items: center;
    text-align: center;
} 
.container2{
    /* flex-direction: row-reverse; */
    justify-content: left;
} 
.conatiner2 {
    text-align: left;
}
.conatiner2 ul {
    margin-left: 0;
    padding-left: 20px; /* Standard left padding for bullet alignment */
}
